<form [formGroup]="loginForm">
  <div class="example-container">
    <h2 style="font-weight: 100; text-align: center;">Please sign in</h2>
    
     
    <mat-form-field appearance="outline">
      <mat-label>Email ID</mat-label>
      <input matInput formControlName="email" type="email" required placeholder="Enter Your email ">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" required placeholder="Enter Password">
    </mat-form-field>
    <button mat-button mat-raised-button color="primary" class="buy-now-button space" (click)="login()">LOGIN</button>


    <label style="text-align: center; margin-top: 5px; color:gray">Or</label>
    <a routerLink="/signup" (click)="hide()" style="text-align:center" >Signup</a>
  </div>
</form>