<section id="intro">
    <!----
<div class="contact-box">
    <div class="first">+91 8617769217</div>
    <div class="second">teamerror123@gmail.com</div>
    <div class="third">3-5 BUSINESS DAYS DELIVERY & FREE RETURNS</div>
</div>
-->
<mat-progress-bar mode="indeterminate" *ngIf="loadingEnable"></mat-progress-bar>
<div class="header-box">
    <div class="container">
        <div class="mobile-view">
            <mat-icon (click)="toggelSidenav()">menu</mat-icon>
        </div>
        <div class="logo">
            <a [routerLink]="['/home']"> <img
                    src="https://images.unsplash.com/photo-1553835973-dec43bfddbeb?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bG9nb3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                    width="80px" height="50px">
            </a>
        </div>
        <!-- <form class="example-form">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Search">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </form> -->

        <div class="menu">
            <ul class="list">

                <li class="contain" [routerLink]="['/home']" routerLinkActive="active"><span>HOME</span></li>
                <li class="contain" [routerLink]="['/products']" routerLinkActive="active"><span>PRODUCTS</span></li>
                <li class="contain">
                    <a routerLink="/myprofile/shopping-cart" routerLinkActive="active">
                    <span>CART
                    <div class="badge bg-danger" *ngIf="this.productService.getCartNumber()" >
                       {{this.productService.getCartNumber()}}
                    </div>
                </span>
            </a>
            </li>
                <li class="contain" [routerLink]="['/contactus']" routerLinkActive="active"><span >CONTACT-US</span>
                </li>
                <li class="contain" [routerLink]="['/signup']" routerLinkActive="active"><span>SIGNUP</span></li>

                <li class="contain">
                    <button mat-stroked-button color="warn" *ngIf="!this.loginService.isLogged()" class="button"
                        (click)="openLoginDialog()">LOGIN</button>
                    <!-- <button mat-stroked-button color="primary" *ngIf="this.loginService.isLogged()" class="button"
                        (click)="logOut()"> -->
                        <button mat-button [matMenuTriggerFor]="menu" *ngIf="this.loginService.isLogged()">
                            <img src="../../../assets/av.jpg" style="height:50px;width:50px;border-radius:50%" alt="">
                        </button>
                        <mat-menu #menu="matMenu">
                            <a mat-menu-item routerLink="/myprofile/profile">My profile</a>
                            <button mat-menu-item (click)="this.loginService.logOut()">Logout</button>
                            <!-- <button mat-menu-item>Item 2</button> -->
                        </mat-menu>
                    <!-- </button> -->
                    </li>
            </ul>
        </div>

    </div>
</div>
</section>
<!-- <app-sidenav class="sidenavEnable"></app-sidenav> -->