<div class="footer">
    <div class="container">
        <div class="first">
            <h4>Ecommerce</h4>
            <p>
                Far far away, behind the word mountains, far from the countries 
            </p>
        </div>
        <div class="second">
            <h4>HELP</h4>
            <ul class="list">
                <li>
                    Shipping Information</li>
                <li> Returns & Exchange</li>
                <li> Terms & Conditions</li>
                <li> Privacy Policy
                </li>
            </ul>
        </div>
        <div class="third">
            <h4>HAVE A QUESTION</h4>
            <p>
                203 chandni chowk market,kol-700112,kolkata</p>
            <p>+91 8617769217</p>
        </div>
    </div>
    <div class="copyright">
        <p>Copyright ©2019 All rights reserved |</p>
    </div>
</div>